<div class="both">
  <div class="mobile">
    <div>
      <img
        id="mobile"
        src="https://www.apple.com/v/iphone-14-pro/c/images/overview/hero/hero_endframe__dtzvajyextyu_large.jpg"
        alt="Mobile Image"
      />
      <button class="mobiles" (click)="getMobile()">Mobile</button>
    </div>
  </div>

  <br /><br />

  <div class="laptop">
    <div>
      <img
        id="laptop"
        src="https://wallpaperaccess.com/full/1225524.jpg"
        alt="Laptop Image"
      />
      <button  class="laptops" (click)="getLaptop()">Laptop</button>
    </div>
  </div>
</div>
