<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="company">Company</h4>
        <ul>
          <li><a href=" ">About Us</a></li>
          <li><a href=" ">Our Service</a> </li>
          <li><a href=" ">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col">
        <h4 class="gethelp">Get help</h4>
        <ul>
          <li><a href=" ">Questions</a></li>
          <li><a href=" ">Payment options</a></li>
        </ul>
      </div>
      <div class="col">
        <h4 class="onlineshop">Online Shop</h4>
        <ul>
          <li><a href=" ">Open</a></li>
          <li><a href=" ">Close</a></li>

        </ul>
      </div>
      <div class="col">
        <h4 class="followus">Follow us</h4>
        <ul>
          <li><a href="https://www.facebook.com/ "> Facebook</a></li>
          <li><a href="https://www.instagram.com/accounts/login/">Instagram</a></li>
          <li><a href="https://www.youtube.com/">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
