.empty_cart{
  font-size: 40px;
  font-weight: 900;
  padding-left: 200px;
  padding-top: 40px;
  color:teal;

}
button{
  border-radius: 20px;
  background-color: darkcyan;
  color: aliceblue;
  border: yellowgreen;
  font-weight: 900;
}
.buyItems{
  margin-right: 600px;
  position: relative;
  left: 295px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
  background-color:palevioletred;
  color: white;

  border: black;
  font-size: 22px;
  font-weight: 900;

}

.empty {
  padding-left: 450px;
}
.empty_image {
  width: 1000px;
  border-radius: 30px;
  height: 500px;
}
.quantity_box{
  background-color: turquoise;
  border-radius: 40px;
  text-align: center;
  font-weight: 900;
}
.buy,
.remove {
  color: purple;
}
.buy_button{
  color: white;
  margin: 10px;
  background:purple;
  border-radius: 50px;
  border: beige;
  padding-left: 150px;
  padding-right: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  left:5px;

}
.remove_button {
  color: white;
  margin: 10px;
  background: red;
  border-radius: 50px;
  border: beige;
  padding-left: 130px;
  padding-right: 110px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  left: 12px;
  bottom: 20px;


}
.buy {
  margin: 10px;
}

td {
  padding: 20px;
}

.image_size {
  width: 50%;
  height: 10%;
}
.card-img-top {
  height: 60%;
  width: 60%;
}
.card-deck {
  margin: 0 -15px;
}

.card-deck .card {
  margin: 0 0 1rem;
  padding-top: 5px;
  border-radius: 30px;
  padding-bottom: 5px;
}
.full {
  padding-left: 200px;
}
.back_button {
  background-color: purple;
  color: white;
  width: 90px;
  border-radius: 50px;
  border: black;
  position: relative;
  left: 50px;
  top: 40px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
}
.cart {
  padding-left: 80px;
  padding-right: 60px;
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck .card {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (min-width: 992px) {
  .card-deck .card {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
}


