.navbar_link {
  list-style: none;
  display: flex;
  background-color: purple;
  padding: 25px;
  font-weight: 950;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
  padding-left: 80px;
}
.login {
  padding-left: 1100px;
}
.home:active{
  color:powderblue;

}
